.vscode/**
.vscode-test/**
.gradle/**
.idea/**
grammar/**
gradle/**
*.iml
out/**
src/**
bin/**
.gitignore
tsconfig.json
webpack.config.js
gradlew
gradlew.bat
antlr-runtime-4.9.3.jar
*.gradle
build/classes